<form>
    <section class="window-content">
        <div class="form-group">
            <label for="backgroundColor"> Background Color: </label>
            <div class="form-fields">
                <input type="text" id="text.backgroundColor" value="{{backgroundColor}}" class="text-input">
                <input type="color" name="backgroundColor" value="{{backgroundColor}}">
            </div>
        </div>
    </section>
    <section class="window-content">
        <div class="form-group">
            <label for="spellLow"> Spell Low: </label>
            <div class="form-fields">
                <input type="text" id="text.spellLow" value="{{spellLow}}" class="text-input">
                <input type="color" name="spellLow" value="{{spellLow}}">
            </div>
        </div>
        <div class="form-group">
            <label for="spellMedium"> Spell Medium: </label>
            <div class="form-fields">
                <input type="text" id="text.spellMedium" value="{{spellMedium}}" class="text-input">
                <input type="color" name="spellMedium" value="{{spellMedium}}">
            </div>
        </div>
        <div class="form-group">
            <label for="spellHigh"> Spell High: </label>
            <div class="form-fields">
                <input type="text" id="text.spellHigh" value="{{spellHigh}}" class="text-input">
                <input type="color" name="spellHigh" value="{{spellHigh}}">
            </div>
        </div>
    </section>
    <section class="window-content">
        <div class="form-group">
            <label for="bar1Low"> Bar 1 Low: </label>
            <div class="form-fields">
                <input type="text" id="text.bar1Low" value="{{bar1Low}}" class="text-input">
                <input type="color" name="bar1Low" value="{{bar1Low}}">
            </div>
        </div>
        <div class="form-group">
            <label for="bar1Medium"> Bar 1 Medium: </label>
            <div class="form-fields">
                <input type="text" id="text.bar1Medium" value="{{bar1Medium}}" class="text-input">
                <input type="color" name="bar1Medium" value="{{bar1Medium}}">
            </div>
        </div>
        <div class="form-group">
            <label for="bar1High"> Bar 1 High: </label>
            <div class="form-fields">
                <input type="text" id="text.bar1High" value="{{bar1High}}" class="text-input">
                <input type="color" name="bar1High" value="{{bar1High}}">
            </div>
        </div>
    </section>
    <section class="window-content">
        <div class="form-group">
            <label for="bar2Low"> Bar 2 Low: </label>
            <div class="form-fields">
                <input type="text" id="text.bar2Low" value="{{bar2Low}}" class="text-input">
                <input type="color" name="bar2Low" value="{{bar2Low}}">
            </div>
        </div>
        <div class="form-group">
            <label for="bar2Medium"> Bar 2 Medium: </label>
            <div class="form-fields">
                <input type="text" id="text.bar2Medium" value="{{bar2Medium}}" class="text-input">
                <input type="color" name="bar2Medium" value="{{bar2Medium}}">
            </div>
        </div>
        <div class="form-group">
            <label for="bar2High"> Bar 2 High: </label>
            <div class="form-fields">
                <input type="text" id="text.bar2High" value="{{bar2High}}" class="text-input">
                <input type="color" name="bar2High" value="{{bar2High}}">
            </div>
        </div>
    </section>
    <button type="submit"> Submit</button>
</form>